<md-content>
  <form name="productForm" ng-submit="vm.save()" novalidate>
    <md-input-container class="md-block">
      <label>Código do produto</label>
      <input ng-model="vm.product.ean" name="ean" required md-no-asterisk ng-disabled="vm.product.id">
      <div ng-messages="productForm.ean.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Nome</label>
      <input ng-model="vm.product.name" name="name" required md-no-asterisk>
      <div ng-messages="productForm.name.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Quantidade</label>
      <input type="number" ng-model="vm.product.count" name="count" required md-no-asterisk>
      <div ng-messages="productForm.count.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Preço</label>
      <input ui-money-mask ng-model="vm.product.price" name="price" required md-no-asterisk>
      <div ng-messages="productForm.price.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>
    <div layout="row" layout-align="end" >
      <md-button class="md-raised md-warn" ng-href="#/product">Cancelar</md-button>
      <md-button type="submit" class="md-raised md-primary" >Salvar</md-button>
    </div>
  </form>
</md-content>
