<md-content flex layout-padding>
  <ul>
    <li ng-click="vm.show(p)" ng-repeat="p in vm.purchases" class="list__item">
      <section layout="row" layout-align="space-between center">
        <label>{{p.created_at | date}}</label>
        <label>{{p.total | currency:"R$ "}}</label>
      </section>
      <md-divider ng-if="!$last"></md-divider>
    </li>
  </ul>
  <footer class="page__footer" layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ngf-select="vm.uploadFiles($file, $invalidFiles)">Importar</md-button>
  </footer>
</md-content>
