<div layout="column">
  <header layout="row" layout-align="space-between center">
    <md-datepicker ng-change="vm.list()" ng-model="vm.date" md-placeholder="Dis de venda"></md-datepicker>
  </header>
  <section ng-click="vm.edit(s.id)" ng-repeat="s in vm.sells">
    <md-content layout="row" layout-align="space-between center" class="list__item" ng-class="{open: s.status === 'open'}">
      <label>
        {{s.updated_at | date:'hh:mm'}}
      </label>
      <label>
        {{s.total | currency:'R$ '}}
      </label>
    </md-content>
    <md-divider ng-if="!$last"></md-divider>
  </section>
  <footer class="page__footer">
    <md-divider></md-divider>
    <md-content layout="row" layout-align="space-between center">
      <label>Total</label>
      <label>{{vm.total() | currency:'R$ '}}</label>
      <md-button class="md-raised md-primary" ng-click="vm.newSell()">Nova venda</md-button>
    </md-content>
  </footer>
</div>
