.list {
  padding-bottom: 40px;
}
.list__item {
  padding: 10px 3px 2px 3px;
  font-size: em(14px, 16px);
  position: relative;

  .menu {
    position: absolute;
    right: 0;
  }
}

.page__footer {
  position: fixed;
  width: 100%;
  padding: 15px 3px 10px 3px;
  bottom: 0px;
  left: 0px;
  background: white;
}

.md-sidenav-right {
  position: fixed;
  top: 0;
  height: 100%;
}

.md-sidenav-backdrop {
  position: fixed;
  top: 0;
  height: 100%;
}
