@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import 'normalize.scss';
@import 'functions.scss';
@import 'home.scss';
@import 'layout.scss';
@import 'product.scss';

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Roboto';
  background: #424242;
}
