<md-content flex layout-padding>
  <md-list>
    <md-subheader layout="column" class="md-no-sticky">
      <div>
        {{vm.purchase.supplier.name}}
      </div>
      <div layout="row" flex="100" layout-align="space-between">
        <small>
          {{vm.purchase.created_at | date:'dd/MM/yy'}}
        </small>
        <small>
          {{vm.purchase.updated_at | date:'dd/MM/yy'}}
        </small>
      </div>
      <div layout="row" flex="100" layout-align="end">
        <small>
          {{vm.purchase.total | currency:'R$ '}}
        </small>
      </div>
    </md-subheader>
    <div flex="100" layout="column" class="md-3-line" ng-repeat="i in vm.purchase.purchase_items">
      <small>{{i.name}}</small>
      <small>{{i.ean}}</small>
      <div layout="row" layout-align="space-between">
        <small>{{i.count}}</small>
        <small>{{i.price | currency:'R$ '}}</small>
        <small>{{i.price * i.count | currency:'R$ '}}</small>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </div>
  </md-list>
</md-content>
