<!DOCTYPE html>
<html>
  <head>
    <title>Pock</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body ng-app="pockApp">
    <div class="loading" layout-align="center center" ng-show="loading">
      <md-progress-circular class="spinner" md-mode="indeterminate" md-diameter="200"></md-progress-circular>
      {{loading}}
    </div>
    <div>
      <md-toolbar md-open="demo.isOpen" count="demo.count" md-direction="{{demo.selectedDirection}}">
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" class="md-icon-button" ng-href="/#/product">
              <md-icon md-svg-src="/assets/images/product.svg"></md-icon>
            </md-button>
            <md-button aria-label="comment" class="md-icon-button" ng-href="/#/purchase">
              <md-icon md-svg-src="/assets/images/buy.svg"></md-icon>
            </md-button>
            <md-button aria-label="comment" class="md-icon-button" ng-href="/#/sell">
              <md-icon md-svg-src="/assets/images/sell.svg"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-toolbar>
    </div>
    <div class="home__content">
      <div ng-view=""></div>
    </div>
  </body>


</html>
